<div class="inline-flex rounded-lg shadow-md me-8" role="group">
    <button type="button" data-tooltip-target="tooltip-list" id="list" class="inline-flex items-center px-1 py-1 text-sm font-medium text-gray-900 bg-transparent  rounded-lg hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700">
        <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="12479" width="32" height="32"><path d="M384 320l512 0c38.4 0 64-25.6 64-64 0-38.4-25.6-64-64-64L384 192C345.6 192 320 217.6 320 256 320 294.4 345.6 320 384 320zM896 448 384 448C345.6 448 320 473.6 320 512c0 38.4 25.6 64 64 64l512 0c38.4 0 64-25.6 64-64C960 473.6 934.4 448 896 448zM896 704 384 704c-38.4 0-64 25.6-64 64 0 38.4 25.6 64 64 64l512 0c38.4 0 64-25.6 64-64C960 729.6 934.4 704 896 704zM128 192C89.6 192 64 217.6 64 256c0 38.4 25.6 64 64 64s64-25.6 64-64C192 217.6 166.4 192 128 192zM128 448C89.6 448 64 473.6 64 512c0 38.4 25.6 64 64 64s64-25.6 64-64C192 473.6 166.4 448 128 448zM128 704c-38.4 0-64 25.6-64 64 0 38.4 25.6 64 64 64s64-25.6 64-64C192 729.6 166.4 704 128 704z" p-id="12480"></path></svg>
        <!-- list -->
    </button>
    <div id="tooltip-list" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
        列表
        <div class="tooltip-arrow" data-popper-arrow></div>
    </div>
    <button type="button" data-tooltip-target="tooltip-card" id="card" class="inline-flex items-center px-1 py-1 text-sm font-medium text-gray-900 bg-transparent  rounded-lg hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:border-white dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700">
        <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="8833" width="32" height="32"><path d="M415.9488 550.912H188.2112C156.8768 550.912 131.072 576.3072 131.072 608.0512v227.7376c0 31.3344 25.3952 57.1392 57.1392 57.1392h227.7376c31.3344 0 57.1392-25.3952 57.1392-57.1392V608.0512c0-31.3344-25.8048-57.1392-57.1392-57.1392zM833.7408 133.12H606.0032C574.6688 133.12 548.864 158.3104 548.864 190.2592v227.7376c0 31.3344 25.3952 57.1392 57.1392 57.1392h227.7376c31.3344 0 57.1392-25.3952 57.1392-57.1392V190.2592c0.2048-31.9488-25.1904-57.1392-57.1392-57.1392zM415.9488 133.12H188.2112C156.8768 133.12 131.072 158.3104 131.072 190.2592v227.7376c0 31.3344 25.3952 57.1392 57.1392 57.1392h227.7376c31.3344 0 57.1392-25.3952 57.1392-57.1392V190.2592c0-31.9488-25.8048-57.1392-57.1392-57.1392zM833.7408 550.912H606.0032c-31.3344 0-57.1392 25.3952-57.1392 57.1392v227.7376c0 31.3344 25.3952 57.1392 57.1392 57.1392h227.7376c31.3344 0 57.1392-25.3952 57.1392-57.1392V608.0512c0.2048-31.3344-25.1904-57.1392-57.1392-57.1392z" fill="" p-id="8834"></path></svg>
        <!-- card -->
    </button>
    <div id="tooltip-card" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
        卡片
        <div class="tooltip-arrow" data-popper-arrow></div>
    </div>
</div>