---
import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import BaseLayout from '@layouts/BaseLayout.astro'
import HeroSection from '@components/blocks/HeroSection.astro'
import BlogInsight from '@components/blog/BlogInsight.astro'
import FeaturesSection from '@components/blocks/FeaturesSection.astro'
import HeroSectionAlt from '@components/blocks/HeroSectionAlt.astro'
import blogHeroImg from '@images/hero-landing.png'

import { db } from "@db/config"
import * as schema from "@db/schema";
import { sql } from 'drizzle-orm'

// 通过 getCollection 集合获取 获取所有文章 按时间排序 获取前 3 篇文章
const posts: CollectionEntry<'posts'>[] = (await getCollection('posts')).sort(
    (a: CollectionEntry<'posts'>, b: CollectionEntry<'posts'>) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
).slice(0, 3);

// const q = await db.select().from(schema.tUser)
// console.log(q);

---

<BaseLayout>

    <HeroSection
        title=`Hello, <span class="text-yellow-500 dark:text-yellow-400">GBlog</span>`
        subTitle="嗨，欢迎来到 Gblog，gblog 是一个用 Astro 构建的开源、简单、美观的博客。"
        primaryBtn="浏览博客"
        primaryBtnURL="/posts"
        src={blogHeroImg}
        alt="godruoyi's blog"
    />
    
    <FeaturesSection />


<div id="search"></div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
<script is:inline type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
<script is:inline type="text/javascript">
import algoliasearchNetlify from "algoliasearch"
  algoliasearchNetlify({
    appId: 'RED8QCNKEV',
    apiKey: 'b0d6b1df328a8d448201bb04842f002f',
    siteId: 'cb5590b4-6435-406d-81ab-de48bd1f5e17',
    branch: 'main',
    selector: 'div#search',
  });
</script>

    <section class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full">
        <div class="mx-auto mb-10 max-w-2xl text-center lg:mb-14">
            <h2 class="text-3xl font-bold text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight">
                最新文章
            </h2>
            </h2>
            <p class="mt-1 text-pretty text-neutral-600 dark:text-neutral-400">
                总是想写点什么，但很少真正去做
            </p>
        </div>
        <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
            {
                posts.map(b => (
                    <BlogInsight blog={b} />
                ))
            }
        </div>
    </section>
    

    <HeroSectionAlt
        title="在 GitHub 上与我同行"
        subTitle="我喜欢开源，我的 GitHub 上有一些小工具。你可以通过查看我的代码来获得更多"
        url="https://github.com/ycy1/gblog-gblog-template"
    />
</BaseLayout>
